@use 'vars' as *;

nav {
  height: 120px;
  width: 100%;
  background-color: $nav-background-color;
  font-family: $body-font;
  color: $nav-text-color;
  padding: .5em 1.5em 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 9999;

  span {
    font-family: $tweeter-font;
    font-size: 2.5rem;

    @media (min-width: 576px) {
    padding-top: .6em;
    }
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 576px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nav-link {
      color: $nav-text-color;
      text-decoration: none;

      @media (min-width: 576px) {
        padding-top: 1em;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .fa-angles-down {
    color: $nav-arrows-icon-color;
    animation-play-state: paused;
    &:hover {
      cursor: pointer;
      animation: moveUpDown 1s infinite;
      }
    }
  }

.nav-links .nav-link:hover + .fa-angles-down {
  animation: moveUpDown 1s infinite;
}


.scroll-up-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $nav-scroll-up-button-color;
  color: $nav-scroll-up-icon-color;
  border: none;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
  right: 1em;
  animation-play-state: paused;

  &:hover {
    animation: moveUpDown 1s infinite;
    box-shadow: $nav-scroll-up-button-shadow .1em .2em;
  }
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(5px); }
}