@use 'vars';

form {
  width: inherit;
}

.new-tweet-header {
  margin: 1em 0 0 0;
}

.new-tweet-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  textarea {
    width: 100%;
    font-weight: 600;
    scrollbar-width: none;
    resize: none;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    border-bottom: solid;
    border-width: 5px;
  }
}

.button-counter {
  display: flex;
  justify-content: space-between;
  padding: .75em 0 0 0;

  .tweet-button {
    background-color: vars.$nav-background-color;
    color: vars.$nav-text-color;
    font-family: vars.$tweeter-font;
    padding: .1em .5em;
  }

  .counter {
    font-family: vars.$tweeter-font;
    color: vars.$counter-text-color;

    &.red-text {
      color: vars.$counter-over-limit-text-color;
    }
  }
}

.new-tweet {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    margin: 10em 2em 1em 3em;
  }
}

.error-message {
  color: vars.$error-message-text-color;
  background-color: vars.$error-message-background-color;
  border: 5px vars.$error-message-shadow-color;
  padding: 1em;
  margin: 1em 0 .5em 0;
  position: relative;
  display: none;
  box-shadow: vars.$error-message-shadow-color .25em .25em;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid vars.$error-message-background-color;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

