:root {
  --body-background-color: #f4f1ec;
  --body-text-color: #545149;
  --nav-background-color: #4056A1;
  --nav-text-color: #FFFFFF;
  --nav-arrows-icon-color: #ff0000;
  --counter-text-color: #000000;
  --counter-over-limit-text-color: #ff0000;
  --tweet-box-shadow-color: #b4bcda;
  --tweet-handle-text-color: #b4bcda;
  --tweet-icons-color: #4056a1;
  --tweet-icons-hover-color: #be9202;
  --user-header-text-color: #ffffff;
  --user-header-background-color: #f7ad25;
}