nav {
  height: 220px;
  width: 100%;
  background-color: var(--nav-background-color);
  font-family: "Source Sans 3", sans-serif;
  color: var(--nav-text-color);
  padding: 2em 1.5em 0 1.5em;
  position: fixed;
  top: 0;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: var(--nav-text-color);
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(5px); }
}

.fa-angles-down {
  color: var(--nav-arrows-icon-color);
  animation-play-state: paused;
}

.fa-angles-down:hover {
  cursor: pointer;
  animation: moveUpDown 1s infinite;
}

.nav-links .nav-link:hover + .fa-angles-down {
  animation: moveUpDown 1s infinite;
}

.scroll-up-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--nav-scroll-up-button-color);
  color: var(--nav-scroll-up-icon-color);
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
  right: 1em;
  animation-play-state: paused;
}

.scroll-up-button:hover {
  animation: moveUpDown 1s infinite;
  box-shadow: var(--nav-scroll-up-button-shadow) .1em .2em;
}

@media (min-width: 576px) {
nav {
  height: 120px;
}

.nav-container  {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-links {
  align-items: center;
}