:root {
  --nav-background-color: #4056A1;
  --nav-color: #FFFFFF;
}

nav {
  height: 120px;
  width: 100%;
  background-color: var(--nav-background-color);
  font-family: "Source Sans 3", sans-serif;
  color: var(--nav-color);
  padding: 2em 1.5em 0 1.5em;
  position: fixed;
  top: 0;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
}

.fa-solid {
  color: red;
}