nav {
  height: 120px;
  width: 100%;
  background-color: var(--nav-background-color);
  font-family: "Source Sans 3", sans-serif;
  color: var(--nav-text-color);
  padding: 2em 1.5em 0 1.5em;
  position: fixed;
  top: 0;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: var(--nav-text-color);
  text-decoration: none;
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(5px); }
}

.fa-angles-down {
  color: var(--nav-arrows-icon-color);
  animation-play-state: paused;
}

.nav-links .nav-link:hover + .fa-angles-down {
  animation: moveUpDown 1s infinite;
}