form {
  width: inherit;
}

.new-tweet-header {
  margin: 1em 0 0 0;
}

.new-tweet-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
  font-weight: 600;
  scrollbar-width: none;
  resize: none;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  border-bottom: solid;
  border-width: 5px;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  padding: .75em 0 0 0;

}

.tweet-button {
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  font-family: "Bungee", sans-serif ;
  padding: .1em .5em;
}

.counter {
  font-family: "Bungee";
  color: var(--counter-text-color);
}

.red-text {
  color: var(--counter-over-limit-text-color);
}

.disabled {
  opacity: 0.5;
}

.new-tweet {
  display: none;
}

.error-message {
  color: var(--error-message-text-color);
  background-color: var(--error-message-background-color);
  border: 5px var(--error-message-shadow-color);
  padding: 1em;
  margin: 1em 0 .5em 0;
  position: relative;
  display: none;
  box-shadow: var(--error-message-shadow-color) .25em .25em;
}

.error-message:before{
  content: '';  
  width: 0;  
  height: 0;  
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--error-message-background-color);
  position: absolute;  
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%); 
}

@media (min-width: 1200px) {
  .new-tweet {
    display: block;
    margin: 10em 2em 1em 3em;
  }
}
