form {
  width: inherit;
}

.new-tweet-header {
  margin: 1em 0 0 0;
}

.new-tweet-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.new-tweet-input textarea {
  width: 100%;
  font-weight: 600;
  scrollbar-width: none;
  resize: none;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  border-bottom: solid;
  border-width: 5px;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  padding: 0.75em 0 0 0;
}
.button-counter .tweet-button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
  padding: 0.1em 0.5em;
}
.button-counter .counter {
  font-family: "Bungee", sans-serif;
  color: #000000;
}
.button-counter .counter.red-text {
  color: #ff0000;
}

.new-tweet {
  display: none;
}
@media (min-width: 1200px) {
  .new-tweet {
    display: block;
    margin: 10em 2em 1em 3em;
  }
}

.error-message {
  color: #ffffff;
  background-color: #ff8787;
  border: 5px #ff0000;
  padding: 1em;
  margin: 1em 0 0.5em 0;
  position: relative;
  display: none;
  box-shadow: #ff0000 0.25em 0.25em;
}
.error-message:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ff8787;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
