.tweet {
  width: 100%;
  border: solid;
  border-width: 5px;
  padding: .5em;
  margin: 1em 0;
  font-weight: 300;
}

.tweet:hover {
  box-shadow: var(--tweet-box-shadow-color) .25em .25em;
}

.tweet-content p {
  font-weight: bolder;
  border-bottom: solid;
  border-width: 5px;
  padding: .5em .5em 1em .5em;
  margin: 1em 0 .5em 0;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

.avatar-container {
  display: flex;
}

.avatar {
  height: 3.5em;
  width: 3.5em;
  padding: .5em;
}

.tweet-user {
  align-self: center;
}

.handle {
  padding: 0 .5em;
  font-weight: bolder;
  color: var(--tweet-handle-text-color);
}

.tweet footer {
  display: flex;
  justify-content: space-between;
}

.tweet-icons {
  width: 6em;
  display: flex;
  justify-content: space-between;
  font-size: .6em;
  padding: 0 1em;
  color: var(--tweet-icons-color);
}

.tweet-icons:hover .fa-flag:hover {
  color: var(--tweet-icons-hover-color);
}

.tweet-icons:hover .fa-retweet:hover {
  color: var(--tweet-icons-hover-color);
}

.tweet-icons:hover .fa-heart:hover {
  color: var(--tweet-icons-hover-color);
}

.time-since-tweet p {
  font-size: .7em;
  font-weight: bolder;
  margin: 0 0 1em 0;
  padding: 0 1em;
}

